<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.demo.business.mapper.TPrescriptionMapper">
  <resultMap id="BaseResultMap" type="org.example.demo.business.model.TPrescription">
    <id column="PRESCRIPTION_NO" jdbcType="CHAR" property="prescriptionNo" />
    <result column="ORDER_DATETIME" jdbcType="TIMESTAMP" property="orderDatetime" />
    <result column="CASE_REC_NO" jdbcType="CHAR" property="caseRecNo" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from BOOKWRITER.T_PRESCRIPTION
    where PRESCRIPTION_NO = #{prescriptionNo,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="org.example.demo.business.model.TPrescription">
    insert into BOOKWRITER.T_PRESCRIPTION (PRESCRIPTION_NO, ORDER_DATETIME, CASE_REC_NO
      )
    values (#{prescriptionNo,jdbcType=CHAR}, #{orderDatetime,jdbcType=TIMESTAMP}, #{caseRecNo,jdbcType=CHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="org.example.demo.business.model.TPrescription">
    update BOOKWRITER.T_PRESCRIPTION
    set ORDER_DATETIME = #{orderDatetime,jdbcType=TIMESTAMP},
      CASE_REC_NO = #{caseRecNo,jdbcType=CHAR}
    where PRESCRIPTION_NO = #{prescriptionNo,jdbcType=CHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select PRESCRIPTION_NO, ORDER_DATETIME, CASE_REC_NO
    from BOOKWRITER.T_PRESCRIPTION
    where PRESCRIPTION_NO = #{prescriptionNo,jdbcType=CHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select PRESCRIPTION_NO, ORDER_DATETIME, CASE_REC_NO
    from BOOKWRITER.T_PRESCRIPTION
  </select>
</mapper>